page-dream-detail {

.home {
	background-color:  map-get($colors, light);
}

ion-item{
	background-color:  map-get($colors, secondary);
}
.title{
	color: map-get($colors, primary);
}

.description{
	color: map-get($colors, light);
}
}
