page-dream-detail {

		.home {
			background-color:  map-get($colors, secondary);
		}


		.description{
			color: map-get($colors, dark);
		}

		.home-btn{
			background: map-get($colors, secondary) !important;
			border-radius: 30px !important;
			border: 1px solid #ffffff;
			margin-top: 30px;
		}
}
